* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}
html,
body {
    min-height: 100%;
    min-width: 860px;
    background-color: #464f54;
}
.ba-header {
    position: absolute;
    z-index: 1;

    height: 364px;
    right: 0;
}
.ba-title-input {
    background-color:  #181818;
    box-shadow: -4px -4px 59px 0 rgba(0, 0, 0, 0.16);
    height: 187px;
    width: 876px;
}
.ba-title-input-content {
    margin: 50px 0 50px 60px;
    height: 87px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    position: relative;
    top: 50px;

}
.ba-title-input-content .ba-content-title1 {
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    display: block;
}
.ba-title-input-content h1 {
    color: #fefefe;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    margin: 0;
    padding-right: 5px;
    border-right: 2px solid rgba(237, 239, 242, 0.71);
    display: inline-block;
}
.ba-control-bar {
    width: 812px;
    height: 76px;
    box-shadow: -3px -3px 59px rgba(0, 0, 0, 0.16);
    background-color: #fbc02d;
    margin-left: 64px;
}
.ba-control-bar-list {
    margin: 0;
    padding-top: 22px;

}
.ba-control-bar-list li {
    list-style: none;
    display: inline-block;
    padding: 0 12px;
}
.ba-format-align {
    width: 28px;
    height: 27px;
    opacity: 0.5;
}
.ba-format-size {
    width: 30px;
    height: 23px;
    opacity: 0.5;
}
.ba-format-underline {
    width: 22px;
    height: 27px;
    opacity: 0.5;
}
.ba-format-bold {
    width: 20px;
    height: 26px;
}
.ba-format-italic {
    width: 19px;
    height: 22px;
    opacity: 0.5;
}
.ba-format-text {
    width: 38px;
    height: 32px;
    opacity: 0.5;
}
.ba-main-content {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    margin:0 70px;
    position: absolute;
    top: 149px;

}
.ba-main-content-document {
    margin: 202px 130px 36px 124px;
}
.ba-document-author {
    color: #b4b4b4;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.ba-document-first-title {
    color: #2a2a2a;
    font-size: 78px;
    font-weight: 800;
    line-height: 74px;
    text-transform: uppercase;
    margin-top: 47px;
    margin-bottom: 21px;
}
.ba-document-second-title {
    color: #8f8f8f;
    font-family: "Georgia", sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 62px;
    margin-top: 0;
    margin-bottom: 55px;
}
.ba-main-content p {
    color: #000000;
    font-family: "Georgia", sans-serif;
    font-size: 27px;
    line-height: 40px;
    font-weight: 400;
    text-align: justify;
}
.ba-document-first-paragraph {
    margin-top: 0;
    margin-bottom: 39px;
}
.ba-document-first-paragraph span {
    font-style: italic;
}
.ba-document-second-paragraph {
    margin-top: 0;
    margin-bottom: 36px;
}
.ba-vertical-line {
    background-color:  #e8eced;
    width: 2px;
    height: 790px;
    position: relative;
    top: 149px;
    left: 137px;
    z-index: 2;

}